<% if (theme.broadcast.enable && !page.layout){ %>
  <div class="notice">
    <svg class="icon-laba" aria-hidden="true">
      <use xlink:href="#icon-laba"></use>
    </svg>
    <span class="notice-content">
      <span class="element"></span>
    </span>
  </div>
  <script crossorigin="anonymous"
    integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw=="
    src="https://lib.baomitu.com/typed.js/2.0.12/typed.min.js"></script>
  <script>
    var typed = new Typed(".element", {
      //输入内容, 支持html标签
      strings: ["<%= theme.broadcast.text %>"],
      // 开始延迟
      startDelay: 0,
      //打字速度，数字越大，速度越慢。
      typeSpeed: <%= theme.broadcast.broadcast_typeSpeed %>,
      // 回退速度
      backSpeed: 75,
      // 是否循环
      loop: false,
      // 是否显示游标
      showCursor: <%= theme.broadcast.broadcast_showCursor %>,
      // 游标样式
      cursorChar: '<%= theme.broadcast.broadcast_cursorChar %>',
    });
  </script>
  <% } %>