<% if ((!is_post() && !is_page()) || (is_post() && theme.post.comments.enable && page.comments) || (is_page() && page.comments)) { %>
  <script>
    if (isMobile()) {
      const browser = "mobile"
    } else {
      const browser = "pc"
    }

    function isMobile() {
      let flag = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      return flag;
    }
  </script>
  <% if (page.layout === "post") { %>
    <div class="container nopadding-x-md">
      <div id="board" style="margin-top:1.5rem;padding: 1.5rem !important;">
        <div id="comments" class="mx-auto">
          <div style="margin: -2rem 0 5px 10px;font: bolder 1.3rem 'HarmonyOS';"><i class="iconfont icon-pinglun"></i> 评论区</div>
          <article>
          <%- partial('_partials/comments/' + (typeof page.comment === 'string' && page.comment !== '' ? page.comment : theme.post.comments.type)) %>
          </article>
        </div>
      </div>
    </div>
  <% } %>
  <% if (page.layout !== "post" ) { %>
    <article id="comments">
      <%- partial('_partials/comments/' + (typeof page.comment==='string' && page.comment !=='' ? page.comment :
        theme.post.comments.type)) %>
    </article>
  <% } %>
<% } %>
